.wrapper{
    background-image: url("/Portfolio/images/home-bg.jpg");
    background-size:cover;
    background-position: 80% 25%;
    background-repeat: no-repeat;
}
._container{
    display: flex;
    height: 100vh;
    align-items: center;
}
.main-content-box{
    transition: .8s;
    position: absolute;
    left: -300px;
    transform: translateX(-50%);
    align-items: center;
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.image-avatar{
    user-select: none;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 40px;
    width: 128px;
    height: 128px;
    background-color: #b5b5d3;
}
.contact-me-btn{
    user-select: none;
    margin-top: 40px;
    width: 200px;
    height: 40px;
    background-color: #a7a7a7;
    border-radius: 10px;
    transition: .2s;  
    cursor: pointer;  
}
.contact-me-btn p {
    color: #1f1f1f;
    font-family: "Open Sans";
    font-weight: 700;
}
.contact-me-btn:hover{
    margin-top: 40.5px;
    background-color: #919191;
    width: 195px;
    height: 38px;
}
.contact-me-btn:active{
    background-color: #b5b5d3;
}
.burger{
    position: absolute;
    top: 50px;
    left: 120px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    background-color: #333;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: .2s;
    z-index: 0;
    cursor: pointer;
}
.burger-line{
    background-color: #a7a7a7;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    margin: 4px 0;
}
.nav{
    z-index: 1;
    display: none;
    top: 50px;
    left: 20px;
    position: absolute;
    width: 140px;
    height: 160px;
    border-radius: 5px;
    background-color: #333;
    overflow: hidden;
}
.nav-list{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
}
.nav-elem{
    border-radius: 3px;
    text-align: center;
    margin: auto;
    width: 100%;
}
.nav-elem:hover{
    background-color: #1f1f1f;
}
.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 40px;
    font-family: "Open Sans";
    font-size: 13px;
}