$white: #fff;

$gray-d: #3c3c3c;
$gray-l: #747474;
$gray-do-20: #3c3c3c20;
$gray-do-50: #3c3c3c50;
$gray-do-90: #3c3c3c2d;

$gray-blue: #506283;

$blue-vd: #3a7193;
$blue-d: #2091b3;
$blue-l: #219bc0d7;
$blue-vl: #219bc0a6;

$green-d: #4aaa30;