@use '../colors.scss' as c;

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    margin-bottom: 80px;

    flex-direction: column;

    .projectHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        min-width: 300px;
        width: 100%;
        margin-bottom: 50px;
        .projectName {
            transition: all 0.2s ease;
            font-size: 3rem;
            font-weight: 500;
            color: c.$gray-d;
        }

        .projectDescription {
            font-size: 1.2rem;
            font-weight: 400;
            color: c.$gray-l;
        }

        .projectSkills {
            display: flex;
            gap: 50px;
            row-gap: 10px;
            flex-wrap: wrap;
            .projectSkill {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 10px;
                margin: 10px auto;

                .projectSkillIcon {
                    color: c.$blue-vd;
                }

                .projectSkillName {
                    white-space: nowrap;
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: c.$blue-vd;
                }
            }
        }
    }
    .projectPreview {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        max-width: 800px;
        aspect-ratio: 16/11;
        padding: 0 20px;
        overflow: hidden;


        .projectPreviewList {
            position: relative;
            transition: all 0.3s ease;
            width: 100%;
            height: 100%;
            display: flex;
            gap: 50px;

            &.projectPreviewList1 {
                right: calc(0);
            }

            &.projectPreviewList2 {
                right: calc(100% + 50px);
            }

            &.projectPreviewList3 {
                right: calc(200% + 100px);
            }

            &:hover {
                opacity: 0.6;
            }

            .projectPreviewItem {
                flex-shrink: 0;
                width: 100%;
                aspect-ratio: 16/9;
                border-radius: 20px;
                box-shadow: 0px 10px 15px 5px rgba(34, 60, 80, 0.2);

                overflow: hidden;

                .projectPreviewImg {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;

                }
            }
        }

        .previewButtons {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            .previewDots {
                display: flex;
                justify-content: center;
                height: 10px;
                width: 100%;
                gap: 15px;

                .previewDot {
                    transition: all 0.3s ease;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: c.$gray-do-50;

                    &.previewDotActive {
                        background-color: c.$gray-l;
                        scale: 1.5;
                    }
                }
            }

            .previewButton {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 40px;
                width: 40px;
                min-height: 40px;
                height: 40px;
                border-radius: 50%;
                border: none;
                outline: none;
                background-color: c.$gray-d;
                transition: all 0.2s ease;

                &:hover {
                    opacity: 0.6;
                }

                &:active {
                    scale: 0.95;
                    opacity: 0.5;
                }

                &.previewButtonDisabled {
                    scale: 1;
                    opacity: 0.2;
                }

                .previewButtonIcon {

                    color: c.$white;
                }

            }
        }
    }
    .info{
        display: flex;
        width: 100%;
        max-width: 650px;
        flex-direction: column;
        gap: 50px;
        .infoBlock{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .infoTitle{
                font-size: 2rem;
                font-weight: 500;
            }
            .infoDescription{
                font-size: 1rem;
                line-height: 2;
                font-weight: 400;
            }
        }
    }
    .projectButtons{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 456px;
        gap: 20px;
        .projectButton{
            display: flex;
            justify-content: center;
            gap: 8px;
            align-items: center;
            color: c.$white;
            width: 240px;
            height: 50px;
            border-radius: 15px;
            background-color: c.$blue-vl;
            i{
                color: c.$white;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .projectPreview{
        width: 500px;
    }
}