@use "../colors" as c;


.about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 40px 60px;
    width: 100%;
    max-width: 1024px;
    background-color: c.$white;
    border-radius: 15px;
    box-shadow: 0px 10px 15px 0px rgba(34, 60, 80, 0.2);
    gap: 30px;
    margin-bottom: 100px;
    .profession {
        display: flex;
        width: 100%;
        gap: 20px;
        justify-content: start;
        align-items: center;

        .professionLogo {
            width: 40px;
            height: 40px;
            background-color: c.$gray-d;
            border-radius: 3px;
        }

        .professionName {
            font-weight: 400;
            font-size: 2.5rem;
            color: c.$gray-d;

        }
    }

    .description {
        display: flex;
        flex-direction: column;
        gap: 30px;
        h3 {
            font-weight: 500;
            font-size: 1.5rem;
            color: c.$gray-d;
            .descriptionNode{
                color: c.$gray-d;
                border-bottom: 3px solid c.$green-d;
            }
            .descriptionReact{
                color: c.$gray-d;
                border-bottom: 3px solid c.$blue-vd;
            }
        }

        h4 {
            font-weight: 500;
            font-size: 1.2rem;
            color: c.$gray-d;
        }

        p {
            font-weight: 500;
            font-size: 1.2rem;
            color: c.$gray-d;
        }
        .link{
            color: c.$blue-d;
        }
    }
}

@media screen and (max-width: 768px) {
    .about{
        padding: 30px;
        .profession {
            .professionLogo {
                width: 20px;
                height: 20px;
            }
            .professionName {
                font-weight: 400;
                font-size: 1.5rem;
                color: c.$gray-d;
            }
        }
        .description{
            h3 {
                font-size: 1.2rem;
            }
    
            h4 {
                font-size: 1rem;
            }
    
            p {
                font-size: 1rem;
            }
        }
    }
}