.app {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    background: rgba(133, 184, 210, 0.579);
    background: linear-gradient(180deg, rgba(95, 137, 211, 0.151) 0%, rgba(255,255,255,0.2498249299719888) 60%);    
    min-width: 320px;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}